:root{
    --c-dark: #002033;
    --c-mark: rgba(0, 66, 105, 0.28);
    --c-icon-button: rgba(0, 32, 51, 0.26);
    --c-white: #fff;

    --bg-default: #fff;
    --bg-secondary: #ECF1F4;
    --bg-ghost: #00426912;
    --bg-normal: #56B9F2;

    --bg-border: #00416633;
    --bg-border-focus: #00426988;

    --bg-control-primary: #0078D2;
    --bg-control-primary-hover: #0091FF;
    
    --bg-control-ghost: #00426912;
    --bg-control-ghost-hover: #0042690D;

    --bg-shadow: #002033;
    --bg-tone: #002033D9;

    --bg-stripe: #0020330D;

    --typo-secondary: #00203399;
    --typo-ghost: #0020334D;
    --typo-placeholder: #00203359;
    --typo-brand: #0071B2;

    --typo-control-ghost: #00395CCC;
    --typo-control-disable: #00203342;
    --typo-control-secondary: #0078D2;


    --c-yellow: #F38B00;
    --c-blue: #1900E8;

    --typo-alert: #EB3333;
    --bg-alert: #EB5757;

    --bg-success: #22C38E;


    --shadow: 0px 4px 4px rgba(150, 150, 150, 0.25);

    --graph-blue: #32B4FF;
    --graph-ghost: #0020334D;
}