@import '@/style/mixins.scss';
@import url("/fonts/Inter/stylesheet.css");

body{
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

#app{
    height: 100vh;
}

*::-webkit-scrollbar{
    width: 4px;
    height: 8px;

    &-track{
        background: #0042690F;
    }

    &-thumb{
        background: #0042693D;
        border-radius: 4px;
    }
}

h1{
    color: var(--bg-shadow);
    font-size: 20px;
}

h1, h2, h3, h4{
    font-weight: 600;
}

label.checkbox, label.radio{
    display: flex;
    padding-left: 1.8em;
    min-height: 1.11em;
    position: relative;

    input{
        display: none;
    }

    span{
        font-size: inherit;

        &::before{
            @include pseudo-absolute;
        }

        &::before{
            left: 0;
            top: 0;
            height: 1.11em;
            width: 1.11em;
            border-radius: 4px;
            border: 1px solid var(--bg-border);
            background: transparent;
        }
    }

    &.checkbox {
        input:checked+span{
            color: var(--typo-control-secondary);

            &::before{
                background: url(/img/checkbox.svg) var(--typo-control-secondary) center no-repeat;
                border-color: var(--typo-control-secondary);
                background-size: 78%;
            }
        }
    }

    &.radio{
        span{
            &::before{
                border-radius: 50%;
            }
        }

        input:checked+span::after{
            @include pseudo-absolute;
            height: 1.11em;
            width: 1.11em;
            top: 1px;
            left: 0;
            scale: .4;
            border-radius: 50%;            
            background: var(--typo-control-ghost);
        }
    }
}

span.sub{
    font-size: .6em;
}

table.table-default{
    border-collapse: collapse;
    // max-width: 1003px;

    th,td{
        border-right: 1px solid var(--bg-border);
    }

    thead{
        tr{
            border-bottom: 1px solid var(--typo-secondary);

            th{
                font-weight: 400;
                white-space: nowrap;
                padding: 18.25px 12px;

                &:first-child{
                    text-align: left;
                }
            }
        }
    }

    tbody{
        tr{
            &:nth-child(2n){
                background: var(--bg-control-ghost-hover);
            }

            td{
                padding: 12px;
            }
        }
    }
}

.tag{
    display: flex;
    gap: 2px;
    padding: 1px 4px 2px;
    background: var(--bg-ghost);
    color: var(--typo-control-ghost);
    position: relative;
    border-radius: 3px;

    .loading{
        position: absolute;
        @include all-directions(0);
        height: 80%;
        margin: auto;
    }

    .close{
        height: 17px;
        width: 17px;
        margin-top: 2px;
        @include flex-c;
        color: var(--typo-ghost);
        flex-shrink: 0;
        cursor: pointer;
        transition: .3s;
        border-radius: 50%;

        &:hover{
            color: var(--typo-control-ghost);
            background: var(--bg-ghost);
        }

        .ico{
            height: 56%;
            width: 56%;
        }
    }
}